In [1]:
import pandas as pd
from openpyxl import load_workbook
import os
import numpy as np

In [2]:
data_path = '..\\datasets'
files = os.listdir(data_path)
files.remove('URL descripcion reto.txt')
files.remove('leeme.txt')
dfs = {}

def open_file(file_name):
    file_path = os.path.join(data_path, file_name)

    # Cargar todas las hojas con pandas.read_excel(sheet_name=None)
    all_sheets = pd.read_excel(file_path, sheet_name=None)

    # Guardar cada hoja en dfs con un nombre único combinando el archivo y la hoja
    for sheet_name, data in all_sheets.items():
        # Crear un nombre único para el DataFrame usando el nombre del archivo y la hoja
        df_name = f"{file_name.replace('.xlsx', '')}_{sheet_name}"
        dfs[df_name] = data


# Abrir todos los archivos y leer todas las hojas
for file in files:
    if file.endswith('.xlsx'):  # Asegurarse de que solo se procesen archivos Excel
        open_file(file)
    if file.endswith('.XLSX'):
        open_file(file)

In [3]:
print(dfs.keys())

dict_keys(['Biorreactor 13169_WData', 'Biorreactor 13169_Datos', 'Biorreactor 13170_WData', 'Biorreactor 13170_Datos', 'Biorreactor 13171_WData', 'Biorreactor 13171_Datos', 'Biorreactor 13172_WData', 'Biorreactor 13172_Datos', 'Biorreactor 14614_Datos', 'Biorreactor 14615_WData', 'Biorreactor 14615_Datos', 'Biorreactor 14616_WData', 'Biorreactor 14616_Datos', 'Biorreactor 14617_WData', 'Biorreactor 14617_Datos', 'Biorreactor 14618_WData', 'Biorreactor 14618_Datos', 'Centrífuga 12912_WData', 'Centrífuga 12912_Datos', 'Centrífuga 14246_WData', 'Centrífuga 14246_Datos', 'Centrífuga 17825_WData', 'Centrífuga 17825_Datos', 'Cinéticos IPC_Inóculos', 'Cinéticos IPC_Cultivos finales', 'Cinéticos IPC_Centrifugación', 'Fases producción v02_Preinóculo', 'Fases producción v02_Inóculo', 'Fases producción v02_Cultivo final', 'Fases producción v03 Test_Cultivo final', 'Fases producción v03_Preinóculo', 'Fases producción v03_Inóculo', 'Fases producción v03_Cultivo final', 'Fases producción_test v02_Cultivo final', 'Horas inicio fin centrífugas_Hoja1', 'Movimientos componentes_Full1', 'OF 123456 v02_Sheet1', 'OF 123456 v03_Sheet1', 'Temperaturas y humedades_WData', 'Temperaturas y humedades_Datos'])

In [4]:
# Acceder a los DataFrames

df_preinoculo = dfs['Fases producción v03_Preinóculo']
df_preinoculo.columns = df_preinoculo.iloc[0]
df_preinoculo = df_preinoculo.drop(0)
df_inoculo = dfs['Fases producción v03_Inóculo']
df_cultivo_final = dfs['Fases producción v03 Test_Cultivo final']

# Unir los tres DataFrames por la columna 'LOTE'
df_of_123456 = dfs['OF 123456 v03_Sheet1']
df_of_123456 = df_of_123456.rename(columns={df_of_123456.columns[3]: 'LOTE'})
df_cineticos = dfs['Cinéticos IPC_Inóculos']
df_cineticos = df_cineticos.rename(columns={df_cineticos.columns[0]: 'LOTE'})
df_cineticos = df_cineticos[['LOTE', 'Turbidez', 'Viabilidad']].groupby('LOTE',as_index=False).mean()
df_of_123456['LOTE'] = df_of_123456['LOTE'].astype(str).str.replace('/', '').astype(int)
# Unir los tres DataFrames por la columna 'LOTE'
merged_df = df_preinoculo.merge(df_inoculo, on='LOTE', suffixes=('_preinoculo', '_inoculo'))
merged_df = merged_df.merge(df_of_123456[['LOTE', 'Cantidad entregada']], on='LOTE', suffixes=('', '_OF_123456'))

merged_df = merged_df.merge(df_cineticos, on='LOTE', suffixes=('', 'cineticos'))
# Unir los tres DataFrames por la columna 'LOTE'
merged_df = merged_df.merge(df_inoculo, on='LOTE', suffixes=('', '_inoculo'))
merged_df = merged_df.merge(df_cultivo_final, on='LOTE', how='right', suffixes=('', '_cultivo_final'))

C:\Users\jaime\AppData\Local\Temp\ipykernel_17724\4164120474.py:23: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  merged_df = merged_df.merge(df_cultivo_final, on='LOTE', how='right', suffixes=('', '_cultivo_final'))

In [5]:
merged_df.shape

(55, 43)

In [6]:

merged_df['ID Centrífuga'] = merged_df['ID Centrífuga'].astype(int)
merged_df['ID Bioreactor'] = merged_df['ID Bioreactor'].astype(int)
mode_value = merged_df['ID bioreactor'].mode().iloc[0]  # Get the first mode
merged_df['ID bioreactor'].fillna(mode_value, inplace=True)
merged_df['ID bioreactor'].replace([float('inf'), -float('inf')], mode_value, inplace=True)
merged_df['ID bioreactor'] = merged_df['ID bioreactor'].astype(int)

In [7]:
def load_centrifuga_data(id_centrifuga):
    file_name = f'Centrífuga {id_centrifuga}_Datos'
    try:
        # Intentar cargar el DataFrame de centrífuga
        centrifuga_df = dfs[file_name]
        return centrifuga_df
    except KeyError:
        # Si el archivo no existe, retornar un DataFrame vacío o NaN
        return pd.DataFrame()  # o simplemente return np.nan si prefieres


def calculate_mean_for_lote(c, fecha_inicio, fecha_fin, id_centrifuga):
    centrifuga_df = load_centrifuga_data(id_centrifuga)
    
    if centrifuga_df.empty:
        return np.nan  # Si no hay datos, devolver NaN
    mask = (pd.to_datetime(centrifuga_df['DateTime']) >= pd.to_datetime(fecha_inicio)) & (pd.to_datetime(centrifuga_df['DateTime']) <= pd.to_datetime(fecha_fin))
    filtered_data = centrifuga_df[mask]
    return filtered_data[f'{id_centrifuga}_D01916047.PV'].mean()

merged_df['media_PV'] = merged_df.apply(
    lambda row: calculate_mean_for_lote(row['LOTE'], row['Fecha/hora inicio'], row['Fecha/hora fin'], row['ID Centrífuga']),
    axis=1
)

In [8]:
def calculate_mean_for_lote_temp(lote, fecha_inicio, fecha_fin):
    temp_df = dfs['Temperaturas y humedades_Datos']
    if temp_df.empty:
        return np.nan  # Si no hay datos, devolver NaN
    mask = (pd.to_datetime(temp_df['DateTime']) >= pd.to_datetime(fecha_inicio)) & (pd.to_datetime(temp_df['DateTime']) <= pd.to_datetime(fecha_fin))
    filtered_data = temp_df[mask]
    return filtered_data[['07781_TI1501.PV','07781_MI1501.PV']].mean()


merged_df[['temperature_preinoculo','humedad_preinoculo']] = merged_df.apply(
    lambda row: calculate_mean_for_lote_temp(row['LOTE'],row['Fecha/hora inicio_preinoculo'], row['Fecha/hora fin_preinoculo']), axis = 1)

In [9]:

import pandas as pd
import numpy as np

# Function to load bioreactor data based on the given ID
def load_bioreactor_data(id_bioreactor):
    file_name = f'Biorreactor {id_bioreactor}_Datos'
    try:
        # Attempt to load the DataFrame of the bioreactor
        bioreactor_df = dfs[file_name]
        return bioreactor_df
    except KeyError:
        # If the file does not exist, return an empty DataFrame
        return pd.DataFrame()  # Alternatively, return np.nan if preferred

# Function to calculate the mean for the specified lot and bioreactor
def calculate_mean_for_lote2(lote, fecha_inicio, fecha_fin, id_bioreactor):
    bioreactor_df = load_bioreactor_data(id_bioreactor)
    
    if bioreactor_df.empty:
        return np.nan, np.nan, np.nan  # Return NaN for all means if there's no data

    # Filter the data based on the specified date range
    mask = (pd.to_datetime(bioreactor_df['DateTime']) >= pd.to_datetime(fecha_inicio)) & \
           (pd.to_datetime(bioreactor_df['DateTime']) <= pd.to_datetime(fecha_fin))
    filtered_data = bioreactor_df[mask]
    
    # Calculate means for the specified columns
    mean_temp = filtered_data[f'{id_bioreactor}_FERM0101.Temperatura_PV'].mean() if not filtered_data.empty else np.nan
    mean_ph = filtered_data[f'{id_bioreactor}_FERM0101.Single_Use_pH_PV'].mean() if not filtered_data.empty else np.nan
    mean_do = filtered_data[f'{id_bioreactor}_FERM0101.Single_Use_DO_PV'].mean() if not filtered_data.empty else np.nan
    
    return mean_temp, mean_ph, mean_do

# Apply the function to each row of merged_df and store the results in new columns
merged_df[['media_temp_bioreactor', 'media_ph_biorreactor', 'media_PO_biorreactor']] = merged_df.apply(
    lambda row: calculate_mean_for_lote2(row['LOTE'], row['Fecha/hora inicio_inoculo'], row['Fecha/hora fin_inoculo'], row['ID bioreactor']),
    axis=1,
    result_type='expand'  # This allows unpacking into multiple columns
)

In [10]:
merged_df = merged_df.fillna("NA")
output_file_path = '../dataset_test_new.csv'  # Cambia esto a la ruta donde quieras guardar el archivo
merged_df.to_csv(output_file_path, index=False)

In [11]:
merged_df

,LOTE,Fecha/hora inicio_preinoculo,Fecha/hora fin_preinoculo,línea 1,línea 2,línea 3,línea 1,línea 2,línea 3,línea 1,...,Centrifugación 1 turbidez,Centrifugación 2 turbidez,Producto 1,Producto 2,media_PV,temperature_preinoculo,humedad_preinoculo,media_temp_bioreactor,media_ph_biorreactor,media_PO_biorreactor
0,24054.0,2024-04-14 00:30:00,2024-04-15 07:17:00,5.504,5.376,5.376,27.12,25.68,29.52,1,...,27.84,23.96,NA,NA,0.692889,20.265144,47.023889,29.523502,5.889634,23.939733
1,24055.0,2024-04-11 00:30:00,2024-04-12 07:14:00,5.368,5.416,5.464,26.16,25.52,25.04,1,...,30.96,23.16,NA,NA,0.65288,20.153662,45.463467,29.478246,5.909516,24.440044
2,24056.0,2024-04-11 00:30:00,2024-04-12 07:14:00,5.368,5.416,5.464,26.16,25.52,25.04,1,...,29.52,28.88,NA,NA,0.439311,20.153662,45.463467,29.478246,5.909516,24.440044
3,24057.0,2024-04-14 00:30:00,2024-04-15 07:17:00,5.504,5.376,5.376,27.12,25.68,29.52,1,...,31.04,25.32,NA,NA,0.598215,20.265144,47.023889,29.523502,5.889634,23.939733
4,24058.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,26.08,20.36,NA,NA,NA,NA,NA,NA,NA,NA
5,24059.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,26.88,23.64,NA,NA,NA,NA,NA,NA,NA,NA
6,24060.0,2024-04-18 00:30:00,2024-04-19 07:46:00,5.384,5.344,5.448,25.44,26,24.72,1,...,32.56,17.92,NA,NA,0.351869,20.169626,49.159645,29.480435,5.881805,24.754048
7,24061.0,2024-04-18 00:30:00,2024-04-19 07:46:00,5.384,5.344,5.448,25.44,26,24.72,1,...,27.76,14.72,NA,NA,1.157978,20.169626,49.159645,29.480435,5.881805,24.754048
8,24062.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,27.52,24.64,NA,NA,NA,NA,NA,NA,NA,NA
9,24063.0,2024-04-21 00:30:00,2024-04-22 07:19:00,5.36,5.376,NA,25.84,27.84,NA,1,...,25.92,18.28,NA,NA,0.629609,20.165213,44.743246,29.46004,5.866393,24.954162
10,24064.0,2024-04-21 00:30:00,2024-04-22 07:19:00,5.36,5.376,NA,25.84,27.84,NA,1,...,29.36,12.48,NA,NA,0.657233,20.165213,44.743246,29.46004,5.866393,24.954162
11,24065.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,29.28,25.16,NA,NA,NA,NA,NA,NA,NA,NA
12,24066.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,27.44,21.44,NA,NA,NA,NA,NA,NA,NA,NA
13,24067.0,2024-04-25 00:30:00,2024-04-26 07:17:00,5.568,5.56,5.52,20.96,22.48,22.4,0,...,32.16,18.20,NA,NA,0.396293,20.110901,43.430306,29.48612,6.146519,26.269442
14,24068.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,30.00,22.24,NA,NA,NA,NA,NA,NA,NA,NA
15,24069.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,31.76,25.36,NA,NA,NA,NA,NA,NA,NA,NA
16,24070.0,2024-04-25 00:30:00,2024-04-26 07:17:00,5.568,5.56,5.52,20.96,22.48,22.4,0,...,30.00,22.52,NA,NA,0.994271,20.110901,43.430306,29.48612,6.146519,26.269442
17,24071.0,2024-04-28 00:30:00,2024-04-29 07:45:00,6.28,5.488,NA,27.36,24.88,NA,0,...,30.48,22.36,NA,NA,0.469046,20.257035,50.854003,29.48249,6.372356,37.854963
18,24072.0,2024-05-12 00:30:00,2024-05-13 08:16:00,5.424,5.424,NA,25.36,30.96,NA,0,...,31.92,19.28,NA,NA,0.4099,20.293696,50.502816,29.427946,5.88899,29.490308
19,24073.0,2024-05-12 00:30:00,2024-05-13 07:54:00,5.44,5.384,5.456,25.12,26.96,27.84,0,...,34.40,22.28,NA,NA,0.463353,20.298396,50.539104,29.479909,5.919956,23.717667
20,24074.0,2024-05-16 00:30:00,2024-05-17 07:15:00,5.408,5.408,5.384,27.36,28.08,24.32,1,...,26.56,19.44,NA,NA,0.410378,20.25567,51.17471,29.566466,5.888771,25.377197
21,24076.0,2024-05-16 00:30:00,2024-05-17 07:15:00,5.408,5.408,5.384,27.36,28.08,24.32,1,...,29.60,24.56,NA,NA,0.410029,20.25567,51.17471,29.566466,5.888771,25.377197
22,24077.0,2024-05-19 00:30:00,2024-05-20 07:14:00,5.4,5.384,5.4,30.96,27.76,26.24,1,...,33.92,26.20,NA,NA,0.00316,20.221066,51.515522,29.47042,5.95025,24.64777
23,24078.0,2024-05-19 00:30:00,2024-05-20 07:14:00,5.4,5.384,5.4,30.96,27.76,26.24,1,...,29.36,20.88,NA,NA,0.643806,20.221066,51.515522,29.47042,5.95025,24.64777
24,24079.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,28.72,24.16,NA,NA,NA,NA,NA,NA,NA,NA
25,24080.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,29.44,21.24,NA,NA,NA,NA,NA,NA,NA,NA
26,24081.0,2024-05-26 00:30:00,2024-05-27 08:05:00,5.44,5.504,5.496,29.68,31.2,28.96,1,...,29.84,18.20,NA,NA,0.802972,20.273771,50.955144,29.470456,-788.163643,24.901313
27,24082.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,27.20,23.52,NA,NA,NA,NA,NA,NA,NA,NA
28,24083.0,2024-05-23 00:30:00,2024-05-24 07:26:00,5.384,5.4,5.4,25.84,30.24,29.68,1,...,30.24,17.20,NA,NA,0.742294,20.219641,50.809854,29.468078,5.926895,23.654534
29,24084.0,2024-05-23 00:30:00,2024-05-24 07:26:00,5.384,5.4,5.4,25.84,30.24,29.68,1,...,27.92,16.92,NA,NA,1.084593,20.219641,50.809854,29.468078,5.926895,23.654534
30,24085.0,2024-05-26 00:30:00,2024-05-27 08:05:00,5.44,5.504,5.496,29.68,31.2,28.96,1,...,30.80,23.80,NA,NA,0.883252,20.273771,50.955144,29.470456,-788.163643,24.901313
31,24086.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,27.60,18.84,NA,NA,NA,NA,NA,NA,NA,NA
32,24087.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,25.20,18.64,NA,NA,NA,NA,NA,NA,NA,NA
33,24088.0,2024-05-30 00:30:00,2024-05-31 07:46:00,5.472,5.616,5.48,30.56,31.2,29.68,1,...,26.88,13.24,NA,NA,1.206851,20.500592,50.188092,29.482326,5.9345,23.504175
34,24089.0,2024-05-30 00:30:00,2024-05-31 07:46:00,5.472,5.616,5.48,30.56,31.2,29.68,1,...,27.68,15.00,NA,NA,0.440479,20.500592,50.188092,29.482326,5.9345,23.504175
35,24090.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,26.08,19.56,NA,NA,NA,NA,NA,NA,NA,NA
36,24091.0,2024-06-02 00:30:00,2024-06-03 07:03:00,5.392,5.424,5.472,33.44,32.16,29.36,1,...,30.48,27.76,NA,NA,0.649624,20.265494,50.861205,29.466291,6.003,23.420342
37,24092.0,2024-06-02 00:30:00,2024-06-03 07:03:00,5.392,5.424,5.472,33.44,32.16,29.36,1,...,38.80,39.04,NA,NA,0.433623,20.265494,50.861205,29.466291,6.003,23.420342
38,24093.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,23.76,22.12,NA,NA,NA,NA,NA,NA,NA,NA
39,24094.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,22.32,19.72,NA,NA,NA,NA,NA,NA,NA,NA
40,24095.0,2024-06-09 00:30:00,2024-06-10 07:09:00,5.456,5.44,5.432,32.08,31.28,28.72,1,...,42.32,35.28,NA,NA,0.457799,20.29779,50.934876,29.499504,5.897551,25.988391
41,24096.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,33.92,31.40,NA,NA,NA,NA,NA,NA,NA,NA
42,24097.0,2024-06-09 00:30:00,2024-06-10 07:09:00,5.456,5.44,5.432,32.08,31.28,28.72,1,...,37.12,18.84,NA,NA,0.409073,20.29779,50.934876,29.499504,5.897551,25.988391
43,24098.0,2024-06-13 00:30:00,2024-06-14 08:00:00,5.672,5.608,5.608,23.04,22.56,20.96,1,...,32.00,14.48,NA,NA,0.434129,20.248768,50.633674,29.554252,5.952724,29.283132
44,24099.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,29.60,18.60,NA,NA,NA,NA,NA,NA,NA,NA
45,24100.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,32.80,24.64,NA,NA,NA,NA,NA,NA,NA,NA
46,24101.0,2024-06-27 00:30:00,2024-06-28 07:16:00,5.424,5.432,5.416,32.08,32.48,30.64,1,...,31.84,23.48,NA,NA,0.42554,20.508431,49.611845,29.46313,5.9696,22.972185
47,24103.0,2024-06-27 00:30:00,2024-06-28 07:16:00,5.424,5.432,5.416,32.08,32.48,30.64,1,...,29.44,19.76,NA,NA,0.423855,20.508431,49.611845,29.46313,5.9696,22.972185
48,24104.0,2024-06-30 00:30:00,2024-07-01 07:01:00,5.408,5.424,5.392,27.44,26.48,26.64,1,...,30.80,20.56,NA,NA,0.681297,20.938725,49.575444,29.459663,5.96728,24.690989
49,24105.0,2024-06-30 00:30:00,2024-07-01 07:01:00,5.408,5.424,5.392,27.44,26.48,26.64,1,...,31.84,19.16,NA,NA,0.447864,20.938725,49.575444,29.459663,5.96728,24.690989
50,24106.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,32.40,26.40,NA,NA,NA,NA,NA,NA,NA,NA
51,24107.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,28.32,23.28,NA,NA,NA,NA,NA,NA,NA,NA
52,24108.0,2024-07-04 00:30:00,2024-07-05 07:04:00,5.528,5.432,5.504,33.44,28.8,25.6,0,...,29.92,15.40,NA,NA,1.142377,20.356054,50.141853,16.151028,800.287988,3.90363
53,24109.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,31.84,28.68,NA,NA,NA,NA,NA,NA,NA,NA
54,24110.0,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,34.40,27.80,NA,NA,NA,NA,NA,NA,NA,NA